<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add to Cart</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
</head>
<body>

    <div class="container mt-4">
        <h1 id="users-header" class="mb-4">Add Item to Cart</h1>
        <div class="row">
            <div class="col-md-12">
                <form action="/save" method="POST">
                    
                    <label for="method">Method of Payment</label>
                    <select name="method" required>
                        <option value="">Select Payment Method</option>
                        <option value="cash">Cash</option>
                        <option value="credit_card">Credit Card</option>
                        <option value="paypal">PayPal</option>
                    </select>
                    <br>
                    <label for="location">Location</label>
                    <input type="text" name="location" placeholder="Location" required>
                    <br>
                    <label for="sizes">Size</label>
                    <select name="sizes" required>
                        <option value="">Select Size</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                    </select>
                    <br>
                    <label for="comment">Comments</label>
                    <input type="text" name="comment" placeholder="Comments" required>
                    
                    <input type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
    $(document).ready(function() {
        $('#users-table').DataTable();
    });
    </script>
</body>
</html>
